* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  font-family: "Unica77 LL";
  font-weight: 100;
  font-size: 16px;
}
header {
  background-color: #fff;
  position: fixed;
  height: 34px;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 5px;
}
#privacypolicy,
#termsofuse,
#description,
.deletemessage,
#deleteImageDialog,
#imageDialog {
  line-height: 1.1;
}
#optionbar {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  height: 25px;
}
.optionbar--left,
.optionbar--right {
  flex-grow: 1;
  display: flex;

  flex-direction: row;
  color: #9e9e9e;
}
.optionbar--left div,
.optionbar--right div {
  padding: 2px 7px;
}
.optionbar--left div {
  border-right: 1px solid #e5e5e5;
}
.optionbar--right div {
  border-left: 1px solid #e5e5e5;
}
.optionbar--left div:hover,
.optionbar--right div:hover {
  background-color: #000;
  color: #fff;
}
.optionbar--right {
  justify-content: flex-end;
}

/*footer{
	top: 24px;
	font-size: 16px;
	z-index: 3;
	position: fixed;
	background-color:#e5e5e5;
	height: 20px;
}*/

#gallery {
  position: relative;
  top: 58px;
}
#single {
  position: relative;
  top: 58px;
}

.captionbar,
.optionbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 34px;
  display: flex;
  flex-direction: row;
	border-bottom: 1px solid #FFF;
  color: #000;
  height: 24px;
}
input{-webkit-border-radius:0;
border-radius:0;
-webkit-appearance: none;
}
input#captionInputElement {
  color: #000;
  background-color: transparent;
  border: none;
  font-family: "Unica77 LL";
  font-size: 16px;
  padding: 2px 0 0;
  width: calc(100% - 46px);
}

input#captionInputElement::placeholder {
  color: #000;
}
div#captionInput {
  width: 218px;
}
.captionbar {
  background-color: #e5e5e5;
}

.captionbar--left,
.captionbar--right {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.captionbar--right {
  justify-content: flex-end;
}

.captionbar--center {
  flex-grow: 2;
}

.captionbar-button {
  cursor: pointer;
  padding: 2px 7px;
  border-right: 1px solid #fff;
}
.captionbar-button:hover {
  background-color: #000;
  color: #fff;
}

#caption {
  display: flex;
  justify-content: center;
  align-self: center;
}

.dialog {
  position: fixed;
  width: 50%;
  height: 100vh;
  top: 60px;
  background-color: #f0f0f0;
  padding: 7px;
  z-index: 21;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  color: #000;
}
h2 {
  font-size: 16px;
  font-weight: 100;
  color: #000;
  margin: 0 0 8px;
}
#logo {
  cursor: pointer;
  float: left;
}
#user {
  float: right;
  cursor: pointer;
}
#login,
#waitinglist {
  color: #000;
  float: right;
}
#login:hover,
#waitinglist:hover,
#user:hover {
  color: #999999;
}
#login {
  cursor: pointer;
}
#description {
  background-color: #e5e5e5;
  height: 100vh;
  font-size: 20px;
  padding: 39px 5px 0;
}
#description img {
  width: 100%;
  height: auto;
}
#all {
  left: 0px;
  width: 34px;
}
#yearfull {
  left: 34px;
  width: 48px;
}
#view {
  left: 82px;
  width: 51px;
}
#save {
  left: 133px;
  width: 50px;
  display: none;
}
#download {
  left: 133px;
  width: 88px;
}
.currentyear {
  left: 35px;
  width: 60px;
}
.currentweek {
  width: 50px;
  left: 0px;
}
.loader {
  background-image: url(../img/loading.gif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}
#loginfield {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 34px;
  left: 0;
}
#profilefield {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 59px;
  right: 0;
  z-index: 22;
  padding: 7px;
  background-color: #e5e5e5;
}
#lfield,
#rfield {
  padding: 5px 5px 50px;
}
#lfield {
  background-color: #f0f0f0;
}
#rfield {
  background-color: #d4d4d4;
  height: 100vh;
}
#message {
  padding: 0 30px 0 0;
}
.up {
  top: -214px;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
.down {
  top: 34px;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
#loginfield input[type="checkbox"] {
  width: 11px;
  height: 11px;
  /* -webkit-appearance: checkbox; */
  -moz-appearance: checkbox;
  padding: 0px;
	overflow:hidden;
  margin: 0;
  /* vertical-align: top; */
  float: left;
  display: inline-block;
}
#forgotpw {
  float: right;
  color: #9e9e9e;
}
#loginfield input[type="checkbox"]:checked:after {
content: "\2000";
    left: 0;
    top: 0;
    position: relative;
    width: 11px;
    background-repeat: no-repeat;
    /* font-size: 15px; */
    background-image: url(../img/cross.png);
    background-size: contain;
    height: 11px;
    font-size: 18px;
}
.checkbox {
  width: calc(100% - 70px);
  float: left;
  margin: 5px 0 0;
}
.checkbox label {
  font-size: 12px;
  width: calc(100% - 17px);
  display: inline-block;
  line-height: 1.1;
  float: right;
}
#registrationform table,
#loginform table,
#kontaktformular table,
#forgotpwForm table {
  width: 80%;
}
#registrationform input,
#loginform input,
#kontaktformular input,
#settingform input,
#forgotpwForm input {
  padding: 2px 5px;
  border: 1px solid #9e9e9e;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Unica77 LL";
  background-color: #d4d4d4;
  font-size: inherit;
  color: #000;
  margin: 2px 0 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
}

#loginform input,
#forgotpwForm input {
  background-color: #f0f0f0;
}
#settingform input {
  background-color: #e5e5e5;
}
#settingform table {
  width: 80%;
}
#deleteaccount {
  color: #9e9e9e;
}
#deleteaccount:hover {
  color: #000;
}
#resendbutton:hover,
#resendEmail:hover {
  color: #9e9e9e;
}
#forgotpwForm {
  padding: 5px 20px 5px 5px;
}
#forgotpwForm table {
  margin: 10px 0 0;
}
#forgotpw:hover {
  color: #000;
}
#registrationform .submitbutton,
#loginform .submitbutton,
#kontaktformular .submitbutton,
#settingform .submitbutton,
#captionSaveButton,
.deletemessage .submitbutton,
#forgotpwForm .submitbutton,
#deleteAccount input {
  border: none;
  font-family: "Unica77 LL";
  padding: 5px 5px 3px;
  margin: 5px 0 0;
  background-color: #fff;
  line-height: 1;
  font-size: inherit;
  color: #000;
  width: auto;
  float: right;
  cursor: pointer;
  font-weight: 100;
}
.progress {
height: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.progress > svg {
  display: block;
	height:100%;
  width: 100%;
}
#captionSaveButton {
  padding: 4px 5px 2px;
  margin: 0;
}
.deletemessage .submitbutton {
  float: left;
  margin: 5px 7px 0 0;
}
p#signup_error {
  width: 80%;
  margin: 15px 0 0;
}

.dialog #closecross,
#loginfield #closecross,
#profilefield #closecross {
  width: 15px;
  height: 15px;
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
}
.deletemessage {
  padding: 7px;
}
.beback {
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.beback p {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.addimageelement {
  height: 100%;
  width: 100%;
  display: block;
  background-size: 100px 100px;
  background-position: 50% 50%;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
#closecross img {
  width: 100%;
  height: 100%;
}
#registrationform .submitbutton:hover,
#loginform .submitbutton:hover,
#kontaktformular .submitbutton:hover,
#settingform .submitbutton:hover,
#captionSaveButton:hover,
.deletemessage .submitbutton:hover,
#forgotpwForm .submitbutton:hover,
#deleteAccount input:hover {
  background-color: #000;
  color: #fff;
}
textarea:focus,
input:focus {
  outline: 0;
}
*:focus {
  outline: 0;
}
#quit {
  right: 0;
  width: 46px;
  border-left: 1px solid #fff;
  border-right: none;
}
.galeriebutton {
  background-image: url(../img/galerie.png);
  background-size: cover;
  height: 24px;
  width: 24px;
  border-right: none;
}

.dropdown {
  z-index: 2;
  padding:3px 0;
  position: absolute;
  background-color: #e5e5e5;
  color: #999999;
  display: none;
  top: 24px;
}
.dropdown li {
  list-style-type: none;
  cursor: pointer;
  padding: 0 7px;
}
.dropdown li:hover {
  color: #000;
}
#year {
  left: 34px;
}
.emptycw {
  color: #bbbbbb;
}
.visible {
  display: inline-block;
}
.invisible {
  display: none;
}
#downloadtype {
  left: 133px;
  width: 88px;
}
#login_error {
    padding: 5px 0 0;
}
.fullscreen {
  background-image: url(../img/fullscreen.png);
  background-size: cover;
  height: 24px;
  width: 24px;
  border-left: 1px solid #fff;
}
.addsingle {
  right: 48px;
  height: 24px;
  width: 24px;
  border-left: 1px solid #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
.image {
  width: 100%;
  height: calc(100% - 58px);
  position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #000;
}
#gallery .image {
  width: calc(25vw - 0.4px);
  background-size: cover;
  height: 30vh;
  bottom: auto;
  overflow: hidden;
  position: relative;
  float: left;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  background-color: #e5e5e5;
}
/*BUTTONS*/

.prev,
.next {
  position: fixed;
  bottom: 0;
  list-style-type: none;
  height: calc(100% - 58px);
  width: 30%;
}
.prev a,
.next a {
  width: 100%;
  height: 100%;
  display: block;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
.next a {
  cursor: url(../img/pfeilrechts.png), auto;
}
.prev a {
  cursor: url(../img/pfeillinks.png), auto;
}
.prev:fullscreen,
.next:fullscreen,
.prev:-moz-full-screen,
.next:-moz-full-screen,
.next:-webkit-full-screen,
.prev:-webkit-full-screen {
  display: none !important;
  cursor: pointer;
}
#popup {
  position: fixed;
  width: 400px;
  background: #d4d4d4;
  height: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px;
  z-index: 100;
}
.imageoption {
  position: absolute;
  right: 0;
  top: 0;
  height: 24px;
  width: 72px;
}
.imageoption .buttons {
  position: relative;
  right: -66px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
.imageoption:hover .buttons {
  right: 33px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
.number {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 33px;
  padding: 5px 7px;
  background-color: #e5e5e5;
  color: #000;
  z-index: 1;
  display: none;
}
.whitenumber {
  background-color: #fff;
}
.image:hover .number,
.active .number {
  background-color: #000;
  color: #fff;
}
#gallery .number,
#gallery .deletesingle,
#gallery .downloadsingle {
  display: block;
}
.cross, .fullcross {
  height: 24px;
  width: 24px;
  position: fixed;
  right: 5px;
  background-size: cover;
  background-image: url(../img/fullcross.png);
  top: 5px;
  display: none;
  cursor: pointer;
}

.buttons button {
  position: relative;
  float: right;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  color: #000;
  display: none;
  cursor: pointer;
  border: none;
  background-position: center;
}
.buttons button:hover {
  background-color: #000;
}
.deletesingle {
  background-image: url(../img/delete.png);
}
.download {
  display: block;
  width: 100%;
  height: 100%;
}
.downloadsingle {
  background-image: url(../img/download.png);
}
.deletesingle:hover {
  background-image: url(../img/delete_grey.png);
}
.downloadsingle:hover {
  background-image: url(../img/download_grey.png);
}

#single.fullsize {
  height: 100%;
position:fixed;
top:0;
z-index:2;
}
.fullsize .image {
    height: 100%;
}
.fullsize .cross, .fullsize .fullcross {
  display: block;
}
article img {
  height: 100%;
  width: auto;
}

@media (min-width: 240px) and (max-width: 1024px) {
  #gallery .image {
    width: 100vw;
    height: 66vw;
    border-right: none;
  }
  #profilefield,
  #loginfield {
    position: absolute;
  }
  .dialog {
    width: 100%;
    padding: 7px 21px 7px 7px;
    height: auto;
    min-height: 100vh;
    position: absolute;
    z-index: 2;
  }

  .optionbar {
    width: 100%;
    display: block;
  }
  .optionbar--left,
  .optionbar--right {
    display: block;
    color: #9e9e9e;
    background-color: #fff;
  }
  .optionbar--left .pointer,
  .optionbar--right .pointer {
    width: 100%;
    display: inline-block;
  }
  #captionInput {
    width: auto;
  }
  #profilefield,
  #loginfield {
    min-width: 300px;
  }
  #optionbar {
    background-color: #fff;
    height: 25px;
    font-size: 20px;
  }
  #optionbar {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
  .optionbar--left {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
  }
  .optionbar--right {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
  }
  .optionbar--right div:last-of-type {
    white-space: nowrap;
  }
  .optionbar--left div,
  .optionbar--right div {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px 7px;
  }
  .fullscreen {
    display: none;
  }
  .galeriebutton {
    border-left: 1px solid #fff;
    border-right: none;
  }
  #gallery {
    top: 57px;
    border: 1px solid #fff;
  }
}
@media (min-width: 240px) and (max-width: 500px) {
  #loginfield,
  #profilefield {
    width: 100%;
  }
}
@font-face {
  font-family: "Unica77 LL";
  src: url("fonts/Unica77LL-Regular.woff2") format("woff2"),
    url("fonts/Unica77LL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
::selection {
  color: #fff;
  background-color: #000;
}
::-moz-selection {
  color: #fff;
  background-color: #000;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
 width: 0;
}
::-webkit-scrollbar-track {
 background-color: #FFF;
}
::-webkit-scrollbar-thumb {
 background-color: #000;
}
